@import url (`https://fonts.googleapis.com/css2?family=Poppins:wght@300; 400; 500; 600; 700&display=swap'' );

html{
    background: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    display: grid;
    place-items: fill;
    scroll-behavior: smooth;
}

.hub{
    margin-left: 50%;
    margin-top: 5%;
    color: lightblue;
}

.Whitepaper{
    text-align: center;
}

.Body{
    font-family: monospace;
    width: 95%; 
    color: white;
    font-size: large;
}
.Lore{
    
}

.ST{
   margin-top: 10%; 
}